<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @todo_list.name %>
</p>

<p>
  <strong>Todos:</strong>
  <ul>
    <% @todo_list.todos.each do |todo| %>
      <li><%= todo.title %></li>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
